html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* начало болка прижимает футер к низу страници на случай если у нас будет мало контента, у мы не хотим видеть ниже футера пустоту */
/* так же необходимо задать height:100%; для body и html, и задать display: flex; flex-direction: column; для body */
header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
/* конец блока прижимает футер к низу страници на случай если у нас будет мало контента, у мы не хотим видеть ниже футера пустоту */
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
address {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  &::first-letter {
    text-transform: uppercase;
  }
}
.button {
  &:hover,
  &:focus,
  &--primary {
    background-color: $accent-color;
    color: $white-color;
  }
  &--primary {
    &:hover,
    &:focus {
      background-color: $secondary-background-color;
      color: $accent-color;
    }
  }
}

/* этот класс нужен для фильтра, и присваиваеться он только в джава скрипте */
.card-invisible {
  display: none;
}
