.header {
  border-bottom: 1px solid $header-line-color;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 1200px) {
      .logo-container {
        margin-right: 93px;
      }
    }
  }
}
